<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title class=center>Whackamole</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
    <h1 class="styled">PT Whackamole</h1>
    <div align="center">
        <form action="{{ url_for('index') }}" method="post">
            <input type="text" name="input_value">
            <input type="text" name="input_value2">
            <input type="text" name="input_value3">
            <input type="text" name="input_value4">
            <input type="text" name="input_value5">
            <input type="submit" value="Submit">
          </form>
    </div>


    </body>
</html>
